@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Id != 0 ? "Обновление" : "Добавление") категории</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="Id" hidden />
            <div class="border p-3">
                @*<div asp-validation-summary="All"></div>*@
                <div class="py-2 col-12">
                    <label asp-for="Name" class="ms-0 badge">Название</label>
                    <input asp-for="Name" autocomplete="off" class="form-control border-0 shadow" placeholder="Название" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="py-2 col-12">
                    <label asp-for="Code" class="ms-0 badge">Код</label>
                    <input asp-for="Code" autocomplete="off" class="form-control border-0 shadow" placeholder="Код" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="py-2 col-12">
                    <label asp-for="Description" class="ms-0 badge">Описание</label>
                    <textarea asp-for="Description" class="form-control border-0 shadow" placeholder="Опишите категорию или внесите какие-то пометки!
                    Если Вы не нуждаетесь в этом, впишите NULL! СОДЕРЖАНИЕ ДАННОГО ТЕКСТА БУДЕТ ВИДНО ТОЛЬКО АДМИНИСТРАТОРУ!"></textarea>
                </div>


                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        @if (Model.Id != 0)
                        {
                            <button type="submit" class="btn btn-outline-success border form-control"><i class="bi bi-pencil-fill"></i>&nbsp; Обновить</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-outline-success border form-control"><i class="bi bi-plus-square"></i> &nbsp; Добавить</button>
                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-danger border form-control">
                            <i class="bi bi-arrow-bar-left"></i> &nbsp;Назад к списку
                        </a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}








