@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Привет, @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link border-0 text-info">Выйти</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link border-0 text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Зарегистрироваться</a>
    </li>
    <li class="nav-item">
            <a class="nav-link border-0 text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Войти</a>
    </li>
}
</ul>
